.header {

    position: relative;
    z-index: 1;
    background-color: $grayishBlue;
    
    // Hamburger Open Styles
    &.open {

        .header__toggle {
          > span:first-child {
            transform: rotate(45deg);
          }
          
          > span:nth-child(2) {
            opacity: 0;
          }
          
          > span:last-child {
            transform: rotate(-45deg);
          }
        }
      }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;     
        background-image: linear-gradient($grayishBlue, transparent);
    }

   

    nav {
        position: relative;
        background-color: $grayishBlue;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
      }

    &__logo {

      h1 {
        margin: .875rem;
        color: salmon;
      }

         img {
           padding-left: 1rem;
          height: 3.375rem;
         }

    }

    &__toggle { // Mobile Menu Toggle

        > span {
          display: block;
          width: 26px;
          height: 2px;
          background-color: salmon;
          transition: all 300ms ease-in-out;
          transform-origin: 3px 1px;
    
          &:not(:last-child){
            margin-bottom: 5px;
          }
        }
      }
    
      &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 5px;
    
        a {
          display: block;
          padding: 0.625rem;
          color: $grayishBlue;
          text-align: center;
        }
      }

    &__links {

         a {
           font-weight: 500;
            position: relative;
            color: salmon;
            transition: color 300ms ease-in-out;
            

            &:not(:last-child) {
                margin-right: 32px;;
            }


            &::before {
                content: "";
                position: absolute;
                display: block;
                height: .3125rem;
                left: 0;
                right: 0;
                bottom: -2rem;
                background: salmon;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: salmon;
                
                &::before {
                    opacity: 1;
                }

            }
        }
    }

}



