.hero {

    background: $grayishBlue;

    .container {
        @include breakpoint-up(large){
            display: flex;
            align-items: center;
            }       
    }

    &__image {
        
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        min-height: 17.5rem;
        
        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;
        }

        &::before {
            content: "";
            position: absolute; 
            height: 100%;
            width: 100%;
            background-image: url("https://www.svgrepo.com/show/152228/plate.svg");
            background-size: 95%;
            background-repeat: no-repeat;
            background-position: center center; 

            @include breakpoint-up(large) {
                width: 100%;
            }

        }

        &::after {
            content: "";
            position: absolute; 
            height: 100%;
            width: 100%;
            background-image: url("https://www.svgrepo.com/show/83101/sushi.svg");
            background-size: 45%;
            background-repeat: no-repeat;
            background-position: center center; 
        }

    }

    &__text {

        text-align: center;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }


        }


}


