// colors
$grayishBlue: #1f2937;
$white: #F9FAF8;
$grayishWhite: #E5E7EB;
$brightCyan: #3882F6;
$cucumberGreen: #70fa7e;
$neonPurple: #7e70fa;

// Font sizes
$font-xs: .875rem;
$font-sm: 1.125rem;
$font-med: 1.5rem;
$font-lg: 2.25rem;
$font-xl: 3rem;
